/* * {
    border: solid red 1px;
} */

html, body {
    margin: 0;
    height: 100%;
    
}

#oldStuff {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pageSearchBox {
    position: relative;
}

#searchResults {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: aliceblue;
    overflow-y: auto;
    height: 300px;
    width: 250px;
}

.dropdown {
    position: absolute;
    border: solid pink 3px;
    z-index: 1;
    top: 15;
    left: 15;
}

.dropdownItem {
    display: flex;
    align-items: center;
    flex: 1;
}

.dropdownItem > img {
    height: 100px;
    object-fit: scale-down;
}

.dropdownItem > p {
    text-align: center;
}

#newStuff {
    margin: 50px auto;
    /* width: 70%; */
    height: 70%;
    aspect-ratio: 1 / 1;
    border: solid black 1px;
    background-color: lightgray;

    display: grid;
    grid-template-columns: 50px repeat(3, 1fr);
    grid-template-rows: 50px repeat(3, 1fr);
    gap: 2px;
    overflow: auto;
}

#newStuff > .imgSquare {
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#newStuff > div > img {
    object-fit: fill;
    max-height: 150px;
}

.colLabel, .rowLabel, .corner{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* #changeImageBtn {
    flex: 1;
} */

#mainCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    flex: 1;
}

#btnList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imageCon {
    flex: 1;
    padding: 0;
    margin: 0;
}

.textCon {
    text-align: center;
}

.seasonCon {
    display: flex;
}